<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css" />  -->
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
   <title>Welcome</title>
</head>
<body class="p-4">
    <h1 class="text-2xl pb-6 font-bold">Task Manager</h1>
    <p class="mb-4 italic">Total tasks: {{ total_tasks }}</p>
    <div class="overflow-x-auto min-w-[50%] max-w-4xl">
        <form
            class="flex flex-row mt-5 mb-5"
            hx-post="/add_task"
            hx-target=".tasks-table">
            <input type="text" name="task" placeholder="Write new task" class="input input-bordered w-full mr-2">
            <button class="btn" type="submit">Add Task</button>
        </form>
        <table class="table tasks-table">
            {% include 'tasks.html' %}
        </table>
    </div>
</body>
